@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    font-family: 'Montserrat';
    color: white;
}
body
{
    /* overflow: hidden; */
    background-image: linear-gradient(90deg, #253898 0%,#00AC61 100%);
    /* background-image: linear-gradient(90deg, #DB0B5F 0%,#6F00ED 100%); */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}