#store_logo img
{
    width: 100px;
    height: 100px;
}


#store_logo
{
    margin-top: 2%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#text_link
{
    color: white;
    margin-left:20%;
}

#store_name
{
    color: white;
    margin-left: 20px;
}


#main_content
{
    display: flex;
    justify-content: center;
}

#share_link
{
    width: 45%;
    margin-right: 3.3%;
    height: 250px;
}

#share_link p
{
    margin-left: 3%;
    margin-right: 3%;
}

#share_link h2
{
    margin-left: 53%;
    transform: translate(-50%);

}

#share_link button
{
    margin-left: 50%;
    transform: translate(-50%);
    background: none;
    border: 0;
}

#share_link img
{
    width: 50px;
}

#share_app
{
    width: 45%;
    height: 250px;
}

#share_app h1
{
    margin-left: 5%;
}

#os_imgs
{
    display: flex;
    align-items: center;
    justify-content: center;
}

#os_imgs img
{
    margin:auto 10px auto 10px;
    width: 150px;
    height: 150px;
}